:root {
    --border-color: #939393;
    --body-font: Interstate, Helvetica, Arial, Verdana, sans-serif;
    --header-font: 'Interstate', Helvetica, Arial, Verdana, sans-serif;
    --title-font: 'Crimson Text', serif;
    --title-font-weight: 600;
    --primary: #E21833;
    --button-text-color: white;
}